<div class="navbar">
  <div class="sideNav">
    <p>Welcome! <br><br>This is your library of games. To add a game, click on the Add Game
      link on the menu below. <br><br>To add a game session, click on the game
      you played, and then, click on the Add Session link on the menu.</p>
<h3 id="menuSideNav">Menu</h3>
    <ul>
      <li><a href="#/user">Game Library</a></li>
      <li><a href="#/info">Add Game</a></li>
      <li><a href="#/about">About Page</a></li>
      <li><button class="btn btn-default" id="logOutBtn" ng-click="uc.userService.logout()">Log Out</button></li>
    </ul>
    <br>

  </div>
</div>
