<div class="aboutPage container">
  <h1>About Game Vault</h1>
  <p> A Board Game App where board game lovers can keep track their library of
    games and their gaming sessions! The app can track how many times you have
    played each board game and keep track of how many times you have won. </p>
    <br>
  <h3> Technologies Used</h3>
  <ul>
    <li>MongoDB</li>
    <li>Express</li>
    <li>AngularJS</li>
    <li>Node.js</li>
    <li>Bootstrap</li>
    <li>Passport Authentication</li>
    <li>Filestack API</li>
    <li>Heroku</li>
    <li>mLabs</li>
  </ul>
  <br>
  <h3>Stretch Goals</h3>
  <ul>
    <li>Bring in boardgamegeek API for box cover art, publishing information,
      and information about rules.</li>
    <li>Add ability to track if your game has been loaned out to a friend.</li>
    <li>Add ability to link with other user's accounts (become friends, be able
      to tag them in sessions played.)</li>
    <li>Ability for the user to upload pictures to each session.</li>
    <li>Connect with Chase's app for board game meetups.</li>
  </ul>
    <a class="btn btn-default" href="#user">Back</a>
</div>
