<div ng-include="'views/partials/navgamepage.html'"></div>
    <!--html code for basic game information
    html code for notes/game sessions
    html code for adding an image-->
    <h2 id="gamePageName">{{gpc.selectedGame.name}}</h2>
    <div class="gameInfo col-md-4 col-sm-6">
      <ul id="basicGameInfo">
        <li>Number of Players: {{gpc.selectedGame.numPlayers}}</li>
        <li>Estimated Game Time: {{gpc.selectedGame.estGameTime}}</li>
      </ul>
    </div>
    <div class="gameInfo col-md-4 col-sm-6">
      <ul id="gameStats">
        <li>(Times) Played: {{gpc.selectedGame.sessions.addPlay}}</li>
        <li> Wins: {{gpc.selectedGame.sessions.win}}</li>
      </ul>
    </div>

    <div ng-repeat="session in gpc.selectedGame.sessions" class="repeatSessions col-md-4 col-sm-6">
    <ul id="gameSession">
      <li>Date Played: {{session.date}}</li>
      <li>Win? {{session.win}}</li>
      <li>Notes: {{session.notes}}</li>
      <ul>
        <div class="sessionBtn">
          <button class="btn btn-danger" ng-click="gpc.deleteSession(session._id)">Delete</button>
          <button class="btn btn-primary" ng-click="gpc.updateSession(game._id)">Edit</button>
        </div>
      </div>
    </div>
  </div>
