<div class="row">
  <div class="col-md-2 col-xs-2" >
    <div  ng-include="'views/partials/nav.html'"></div>
  </div>

  <div class="col-md-10 col-sm-10">
<div class="container">
  <div class="addGame">
      <form>
        <div>

          <!--<form class="form-horizontal">-->
          <div class="form-group">
            <label for="nameOfGame" class="col-md-2 control-label">Name of Game</label>
            <div class="col-md-9">
              <input ng-model="ic.newGame.name" type="text" class="form-control" placeholder="Name of Game">
            </div>
          </div>

          <div class="form-group">
            <label for="numberOfPlayers" class="col-md-2 control-label">Number of Players</label>
            <div class="col-md-9">
              <input ng-model="ic.newGame.numPlayers" type="text"  class="form-control" placeholder="Number of Players">
            </div>
          </div>

          <div class="form-group">
            <label for="estGameTime" class="col-md-2 control-label">Estimated Game Time</label>
            <div class="col-md-9">
              <input ng-model="ic.newGame.estGameTime" type="text" class="form-control" placeholder="Estimated Game Time">
            </div>
          </div>


          <div class="form-group">
            <div class="col-md-4">
              <button type="submit" class="btn btn-default" id="addGameBtn" ng-click="ic.addGames()">Add Game</button>
            </div>
          </div>
          <!--</form>-->
          <input ng-model="ic.newGame.img" type="button" value="Upload" ng-click="ic.showPicker()" placeholder="Photo Upload"/>
        </div>

      </form>
    </div>
  </div>
</div>
</div>
