<div ng-include="'views/partials/nav.html'"></div>
<div class="userHTML">
  <div>
    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
  </div>
    <div  ng-repeat="game in uc.userGames" class="well col-md-4 col-sm-6" id="games" style="background-color: lightgray;">
      <p id="gameName">  <a href="#" editable-text="game.name">{{ game.name || "empty" }}</a>
</p>
      <ul>
        <li>Number of Players: {{game.numPlayers}}</li>
        <li>Estimated Game Time: {{game.estGameTime}}</li>
      </ul>
      <div id="gamePageBtns">
      <button class="btn btn-danger" ng-click="uc.deleteGame(game._id)">Delete</button>
      <button class="btn btn-primary" ng-click="uc.updateGame(game)">Edit</button>
      <button class="btn btn-primary" id="gameDetails" ng-click="uc.selectGame(game)">Game Details</button>
      </div>
</div>
</div>
