<div class="row">
  <div class="col-md-3 col-sm-3" >
    <div  ng-include="'views/partials/nav.html'"></div>
  </div>
  <div class="col-md-9 col-sm-10">
    <div class="userHTML">
      <div>
        <h1 id="welcome" >Welcome, {{uc.userObject.userName}}!</h1>
      </div>
      <div class="intro">
        <h4 id="libraryHeader">Game Library</h4>
      </div>
    </div>
    <div class="userPage row">
      <div  ng-repeat="game in uc.userGames" class="well col-md-4 col-sm-6" id="games" style="background-color: white;">

        <form editable-form name="editableForm" onaftersave="uc.updateGame(game)">
          <div>
            <img class="col-sm-4" id="img" ng-src="{{game.img}}" height="100px" width="100px"/>
          </div>
          <div class="col-sm-8">
            <span id="gameName" editable-text="game.name">{{ game.name || 'empty' }}</span>
            <div class="playerInfo">
              <div>

                <!-- editable username (text with validation) -->
                <span class="numPlayers">Number of Players: </span>
                <span editable-text="game.numPlayers">{{ game.numPlayers || 'empty' }}</span>
              </div>
              <div>
                <span class="estTime">Estimated Game Time: </span>
                <span editable-text="game.estGameTime">{{ game.estGameTime || 'empty' }}</span>
              </div>

              <div class="xeditableBtns">
                <!-- buttons to submit / cancel form -->
                <span ng-show="editableForm.$visible">
                  <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                    Save
                  </button>
                  <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                    Cancel
                  </button>
                </span>
              </div>
            </div>
          </div>
        </form>

        <div id="gamePageBtns">
          <button class="btn btn-danger" id="deleteBtn" ng-click="uc.deleteGame(game._id)">Delete</button>
          <!--<button class="btn btn-primary" ng-click="uc.updateGame(game)">Edit</button>-->
          <!-- button to show form -->
          <button type="button" class="btn btn-primary" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
            Edit
          </button>
          <button class="btn btn-primary" id="gameDetails" ng-click="uc.selectGame(game)">Game Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
